<div class="container">
  <h1>Todos los vuelos</h1>
  <div class="flight" *ngFor="let flight of flights">
    <div class="section">
      <span class="title">Precio: </span>{{flight.price}}$
    </div>
    <div class="section">
      <span class="title">Origen: </span>{{flight.origin.city}}/{{flight.origin.country}}
      <span class="title">Fecha: </span>{{flight.origin.date}}
    </div>
    <div class="section">
      <span class="title">Llegada: </span>{{flight.destination.city}}/{{flight.destination.country}}
      <span class="title">Fecha: </span>{{flight.destination.date}}
    </div>
    <button mat-raised-button (click)="selectFlight(flight)">Comprar</button>
  </div>
</div>